.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 1rem 0;
}

.py-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 2rem 0;
}

.py-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 3rem 0;
}

.py-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 4rem 0;
}

.py-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 5rem 0;
}

.py-5 {
  padding: 0 5rem;
}

.bg-primary {
  background-color: #3360ff;
  color: #fff;
}

.bg-primary-light {
  background-color: #819cff;
  color: #333;
}

.bg-light {
  background-color: #d7d7d7;
  color: #333;
  border: #ccc 1px solid;
}

.bg-dark {
  background-color: #35495e;
  color: #fff;
}

.bg-success {
  background-color: #14a319;
  color: #fff;
}

.bg-warning {
  background-color: #dccd47;
  color: #fff;
}

.bg-danger {
  background-color: #a31414;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #333;
}

.text-primary {
  color: #3360ff;
}

.text-primary-light {
  color: #819cff;
}

.text-light {
  color: grey;
}

.text-dark {
  color: #35495e;
}

.text-success {
  color: #14a319;
}

.text-warning {
  color: #dccd47;
}

.text-danger {
  color: #a31414;
}

.text-white {
  color: #fff;
}

.text-large {
  font-size: 4rem;
}

.text-medium {
  font-size: 3rem;
}

.text-regular {
  font-size: 2rem;
}

.text-small {
  font-size: 1rem;
}

.btn {
  background-color: transparent;
  font-family: 'Montserrat';
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn a {
  text-decoration: none;
}

.btn .icon {
  position: relative;
  left: 40px;
  text-align: right;
}

.btn.btn-primary {
  background-color: #3360ff;
  color: #fff;
}

.btn.btn-primary:hover {
  background: #6688ff;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.btn.btn-dark {
  background-color: #35495e;
  color: #fff;
}

.btn.btn-dark:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #47627f;
}

.btn.btn-light {
  background-color: #d7d7d7;
  color: #333;
}

.btn.btn-light:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #ced8ff;
}

.btn.btn-danger {
  background-color: #a31414;
  color: #fff;
}

.btn.btn-danger:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #d01a1a;
}

.btn.btn-success {
  background-color: #14a319;
  color: #fff;
}

.btn.btn-success:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #1ad020;
}

.btn.btn-tiny {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0.55rem;
}

.btn.btn-small {
  font-size: 1rem;
  padding: 0.3rem 2rem;
  width: 150px;
  border-radius: 0.75rem;
}

.btn.btn-large {
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
  border-radius: 1rem;
}

.btn.btn-back i {
  position: relative;
  right: 30%;
}

.btn.btn-next i {
  position: relative;
  left: 20%;
}

.btn.btn-plus {
  padding: 0.5rem;
  border-radius: 20px;
}

.btn.btn-plus i {
  font-size: 1.25rem;
  border: 4px solid #14a319;
  border-radius: 20px;
  padding: 0.4rem 0.5rem;
  color: #14a319;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn.btn-plus:hover i {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.btn.btn-minus {
  padding: 0.5rem;
  border-radius: 20px;
}

.btn.btn-minus i {
  font-size: 1.25rem;
  border: 4px solid #a31414;
  border-radius: 20px;
  padding: 0.4rem 0.5rem;
  color: #a31414;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn.btn-minus:hover i {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.btn-card {
  cursor: pointer;
  width: 100%;
}

.btn-card:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #5a7c9f;
  color: #fff;
}

.btn-card ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn-card ul.hor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35), inset 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35), inset 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px -2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #e7ecff;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
  margin-top: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3360ff;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  max-width: 450px;
  max-height: 70px;
  margin-top: 1rem;
  background-color: white;
  -webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}

.alert .bg-success i {
  padding: 0.5rem;
}

.alert .bg-warning i {
  padding: 0.5rem 0.85rem;
}

.alert .bg-danger i {
  padding: 0.5rem 0.65rem;
}

.alert .alert-icon {
  border-radius: 10px;
  min-height: 38px;
  min-width: 38px;
  padding: 1rem;
  margin: 0;
}

.alert .alert-icon i {
  border: 3px solid white;
  border-radius: 20px;
}

.alert .alert-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1rem;
  border-right: 1px solid #d7d7d7;
  width: 100%;
}

.alert .alert-message p {
  margin: 0.15rem 0.5rem;
}

.alert .alert-close {
  position: relative;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}

.alert .alert-close:hover {
  cursor: pointer;
}

.alert .alert-close i {
  margin: 0 1rem;
  border: 3px solid #d7d7d7;
  border-radius: 50px;
  padding-left: 0.15rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.alert .alert-close i:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.alert.alert-primary {
  background-color: #3360ff;
  color: #fff;
}

.alert.alert-dark {
  background-color: #35495e;
  color: #fff;
}

.alert.alert-danger {
  background-color: #a31414;
  color: #fff;
}

.alert.alert-success {
  background-color: #14a319;
  color: #fff;
}

.container-alert {
  position: absolute;
  top: 10px;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-form {
  display: inline-block;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin: 6rem 0 3rem;
}

.container-dash {
  display: inline-block;
  position: relative;
  left: 20%;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 4rem 0 2rem;
  margin: 3rem 0 3rem;
}

.horizontal-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

table {
  table-layout: fixed;
  width: 100%;
}

table th,
table td {
  padding: 20px;
}

table tbody {
  text-align: center;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.horizontal-line {
  margin: 1rem 0;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 1px solid;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 1rem 0;
}

.py-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 2rem 0;
}

.py-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 3rem 0;
}

.py-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 4rem 0;
}

.py-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 5rem 0;
}

.py-5 {
  padding: 0 5rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-item {
  margin-top: 1rem;
}

.form input,
.form select,
.form textarea {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  font-family: 'Montserrat';
  text-indent: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  min-width: 100px;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form input:focus, .form input:hover,
.form select:focus,
.form select:hover,
.form textarea:focus,
.form textarea:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.form input:-webkit-autofill:focus,
.form select:-webkit-autofill:focus,
.form textarea:-webkit-autofill:focus {
  background-color: white !important;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1 fr)[6];
      grid-template-columns: repeat(6, 1 fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

.form-grid .street {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1/1/1/6;
}

.form-grid .suite {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: 1/6/1/6;
}

.form-grid .city {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2/1/2/5;
}

.form-grid .state {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2/5/2/6;
}

.form-grid .zip {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: 2/6/2/6;
}

.form-grid-emails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  row-gap: 1rem;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  width: 40vw;
}

.form-grid-emails .employee {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-grid-emails .btn-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-product-fields {
  margin: 2rem 0rem;
}

.container-product-fields .container-form-product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.container-product-fields .container-form-product-grid .form-item {
  margin: 0;
}

.container-product-fields .container-form-product-grid .container-dimensions-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.container-product-fields .container-form-product-grid .container-dimensions-grid p {
  margin: 0;
}

.container-product-fields .container-form-general-product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.container-product-fields .container-form-general-product-grid .description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.container-product-fields .container-form-general-product-grid .description p {
  margin: 0.5rem 0rem;
}

.container-product-fields .container-form-general-product-grid .form-item {
  margin: 0;
}

.container-product-fields .container-form-price-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-product-fields .container-form-price-grid .container-price-field-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.container-product-fields .container-form-price-grid .container-price-field-grid .btn-remove {
  margin-top: 1rem;
  justify-self: flex-start;
}

.container-product-fields .container-form-price-grid .container-price-field-grid .btn-remove button {
  padding: 0.25rem;
}

.invisible {
  color: white;
  text-decoration: none;
}

.container-field {
  min-width: 400px;
  width: 100%;
}

.container-company-single {
  position: relative;
  padding: 7% 20%;
}

.container-company-single .container-field button {
  position: relative;
  float: right;
}

h1,
p {
  margin: 0.7rem 0;
}

.company-headline-text {
  margin-bottom: 4rem;
}

.logo {
  position: absolute;
  left: 5%;
  top: 5%;
  margin-bottom: 10rem;
  z-index: 1;
}

.container-buttons {
  min-width: 400px;
  width: 40vw;
}

.container-buttons a {
  text-decoration: none;
}

.container-buttons .button-option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
}

.container-buttons .button-option .text-box {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 1rem;
}

.container-buttons .button-option .text-box p {
  margin: 0.7rem 1rem;
  padding: 0.5rem 1rem;
}

.container-buttons .button-option i {
  padding: 0 1rem;
}

.container-company-double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  height: 100vh;
}

.container-company-double .side-bar {
  position: relative;
  padding-top: 50%;
  padding-left: 25%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container-company-double .side-bar-item {
  margin: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-company-double .side-bar-item i {
  margin-right: 1rem;
}

.container-company-double .side-bar .item-current {
  font-weight: bold;
}

.container-company-double .side-bar .item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 3rem;
  font-weight: bold;
}

.container-company-double .side-bar .item-main .icon-number {
  font-weight: 900;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: #3360ff 4px solid;
  padding: 0.15rem 0.5rem;
  border-radius: 100px;
  margin-right: 1rem;
}

.container-company-double .container-company-main {
  position: relative;
  padding: 7% 10%;
}

.container-company-double .container-company-main .btn-next {
  position: relative;
  float: right;
}

.container-company-double .container-company-main .btn-back {
  position: relative;
  z-index: 1;
  top: 20%;
}

.container-company-double .container-address-field {
  min-width: 400px;
  width: 100%;
}

.container-company-double .container-address-field .form-item {
  width: 100%;
}

.container-company-double .container-role-field {
  min-width: 400px;
  width: 40vw;
}

.container-company-double .container-role-field .form-item {
  width: 100%;
}

.container-company-double .container-role-field .form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-company-double .container-role-field .form .buttons button {
  padding: 0.3rem 2rem;
  float: right;
}

.container-company-double .container-role-field .form .buttons button i {
  position: relative;
  left: 2rem;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 1rem 0;
}

.py-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 2rem 0;
}

.py-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 3rem 0;
}

.py-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 4rem 0;
}

.py-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 5rem 0;
}

.py-5 {
  padding: 0 5rem;
}

.sidebar-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 12vw;
  height: 100vh;
  min-width: 225px;
  min-height: 750px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.sidebar-nav .sidebar-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
}

.sidebar-nav .sidebar-logo i {
  margin-right: 1rem;
}

.sidebar-nav .info-card .account-type {
  font-size: 1.25rem;
}

.sidebar-nav .info-card .account-action {
  font-size: 0.75rem;
}

.sidebar-nav .sidebar-items {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.sidebar-nav .sidebar-items a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0.25rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  color: #3360ff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sidebar-nav .sidebar-items a:hover {
  background-color: #3360ff;
  color: #fff;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.sidebar-nav .sidebar-items a.selected {
  background-color: #3360ff;
  color: #fff;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.sidebar-nav .sidebar-items a i {
  margin-right: 2rem;
}

.sidebar-nav .sidebar-settings-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 2rem;
}

.sidebar-nav .sidebar-settings-items a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  color: #3360ff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sidebar-nav .sidebar-settings-items a:hover {
  background-color: #3360ff;
  color: #fff;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.sidebar-nav .sidebar-settings-items a.selected {
  background-color: #3360ff;
  color: #fff;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.sidebar-nav .sidebar-settings-items a i {
  margin-right: 2rem;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-img-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
  text-align: left;
}

.landing-img-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.landing-img-container .landing-img {
  position: relative;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-img-container .image-text {
  position: absolute;
  color: #fff;
  top: 10%;
  left: 5%;
  z-index: 2;
  margin-right: 2rem;
}

.landing-form-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: auto 2rem;
}

.landing-form-container ul {
  list-style-type: none;
}

.landing-form-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-form-container .button-container h1 {
  font-size: 1rem;
}

.landing-form-container .button-container button {
  font-family: 'MontSerrat';
}

.container-company-single .button-container button {
  font-family: 'Montserrat';
  width: 100%;
}

.container-company-single .button-container p {
  text-align: center;
}

.container-registration {
  margin: 0;
  min-height: 100%;
  height: 100%;
}

.container-registration .container-card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  min-height: 20%;
  width: 60%;
  border-radius: 70px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.container-registration .container-card form {
  display: inline-block;
}

.container-registration .container-card a {
  margin: 2rem 0;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1rem 8rem;
}

.separator::before,
.separator::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #c4c4c4;
}

.separator::before {
  margin-right: 1rem;
}

.separator::after {
  margin-left: 1rem;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 1rem 0;
}

.py-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 2rem 0;
}

.py-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 3rem 0;
}

.py-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 4rem 0;
}

.py-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 5rem 0;
}

.py-5 {
  padding: 0 5rem;
}

.bg-primary {
  background-color: #3360ff;
  color: #fff;
}

.bg-primary-light {
  background-color: #819cff;
  color: #333;
}

.bg-light {
  background-color: #d7d7d7;
  color: #333;
  border: #ccc 1px solid;
}

.bg-dark {
  background-color: #35495e;
  color: #fff;
}

.bg-success {
  background-color: #14a319;
  color: #fff;
}

.bg-warning {
  background-color: #dccd47;
  color: #fff;
}

.bg-danger {
  background-color: #a31414;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #333;
}

.text-primary {
  color: #3360ff;
}

.text-primary-light {
  color: #819cff;
}

.text-light {
  color: grey;
}

.text-dark {
  color: #35495e;
}

.text-success {
  color: #14a319;
}

.text-warning {
  color: #dccd47;
}

.text-danger {
  color: #a31414;
}

.text-white {
  color: #fff;
}

.text-large {
  font-size: 4rem;
}

.text-medium {
  font-size: 3rem;
}

.text-regular {
  font-size: 2rem;
}

.text-small {
  font-size: 1rem;
}

.btn {
  background-color: transparent;
  font-family: 'Montserrat';
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn a {
  text-decoration: none;
}

.btn .icon {
  position: relative;
  left: 40px;
  text-align: right;
}

.btn.btn-primary {
  background-color: #3360ff;
  color: #fff;
}

.btn.btn-primary:hover {
  background: #6688ff;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.btn.btn-dark {
  background-color: #35495e;
  color: #fff;
}

.btn.btn-dark:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #47627f;
}

.btn.btn-light {
  background-color: #d7d7d7;
  color: #333;
}

.btn.btn-light:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #ced8ff;
}

.btn.btn-danger {
  background-color: #a31414;
  color: #fff;
}

.btn.btn-danger:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #d01a1a;
}

.btn.btn-success {
  background-color: #14a319;
  color: #fff;
}

.btn.btn-success:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #1ad020;
}

.btn.btn-tiny {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0.55rem;
}

.btn.btn-small {
  font-size: 1rem;
  padding: 0.3rem 2rem;
  width: 150px;
  border-radius: 0.75rem;
}

.btn.btn-large {
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
  border-radius: 1rem;
}

.btn.btn-back i {
  position: relative;
  right: 30%;
}

.btn.btn-next i {
  position: relative;
  left: 20%;
}

.btn.btn-plus {
  padding: 0.5rem;
  border-radius: 20px;
}

.btn.btn-plus i {
  font-size: 1.25rem;
  border: 4px solid #14a319;
  border-radius: 20px;
  padding: 0.4rem 0.5rem;
  color: #14a319;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn.btn-plus:hover i {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.btn.btn-minus {
  padding: 0.5rem;
  border-radius: 20px;
}

.btn.btn-minus i {
  font-size: 1.25rem;
  border: 4px solid #a31414;
  border-radius: 20px;
  padding: 0.4rem 0.5rem;
  color: #a31414;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn.btn-minus:hover i {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.btn-card {
  cursor: pointer;
  width: 100%;
}

.btn-card:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #5a7c9f;
  color: #fff;
}

.btn-card ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn-card ul.hor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35), inset 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35), inset 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px -2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
  background: #e7ecff;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
  margin-top: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3360ff;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  max-width: 450px;
  max-height: 70px;
  margin-top: 1rem;
  background-color: white;
  -webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}

.alert .bg-success i {
  padding: 0.5rem;
}

.alert .bg-warning i {
  padding: 0.5rem 0.85rem;
}

.alert .bg-danger i {
  padding: 0.5rem 0.65rem;
}

.alert .alert-icon {
  border-radius: 10px;
  min-height: 38px;
  min-width: 38px;
  padding: 1rem;
  margin: 0;
}

.alert .alert-icon i {
  border: 3px solid white;
  border-radius: 20px;
}

.alert .alert-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1rem;
  border-right: 1px solid #d7d7d7;
  width: 100%;
}

.alert .alert-message p {
  margin: 0.15rem 0.5rem;
}

.alert .alert-close {
  position: relative;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}

.alert .alert-close:hover {
  cursor: pointer;
}

.alert .alert-close i {
  margin: 0 1rem;
  border: 3px solid #d7d7d7;
  border-radius: 50px;
  padding-left: 0.15rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.alert .alert-close i:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.alert.alert-primary {
  background-color: #3360ff;
  color: #fff;
}

.alert.alert-dark {
  background-color: #35495e;
  color: #fff;
}

.alert.alert-danger {
  background-color: #a31414;
  color: #fff;
}

.alert.alert-success {
  background-color: #14a319;
  color: #fff;
}

.container-alert {
  position: absolute;
  top: 10px;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-form {
  display: inline-block;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin: 6rem 0 3rem;
}

.container-dash {
  display: inline-block;
  position: relative;
  left: 20%;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 4rem 0 2rem;
  margin: 3rem 0 3rem;
}

.horizontal-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

table {
  table-layout: fixed;
  width: 100%;
}

table th,
table td {
  padding: 20px;
}

table tbody {
  text-align: center;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.horizontal-line {
  margin: 1rem 0;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 1px solid;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 1rem 0;
}

.py-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 2rem 0;
}

.py-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 3rem 0;
}

.py-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 4rem 0;
}

.py-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 5rem 0;
}

.py-5 {
  padding: 0 5rem;
}

.grid-auto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-auto-headers {
  font-weight: 500;
}

.grid-auto-items {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.grid-auto .option {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-dashboard {
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 100vw;
}

.container-filters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-gap: 0.5rem;
}

.container-filters .filter-option {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.container-filters:nth-child(4) {
  justify-items: start;
}

.container-filters p {
  display: inline;
  justify-self: flex-start;
  margin: 0;
}

.container-filters i {
  position: relative;
  top: 25px;
  left: 15px;
  color: grey;
}

.container-filters select {
  background-color: #d7d7d7;
  color: #333;
  font-size: 1rem;
  font-family: 'Montserrat';
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem 0.25rem 2.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.container-filters select:hover {
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.container-filter-fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  width: 100%;
}

.container-filter-fields .grid-invite {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-filter-fields .form {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.container-filter-fields .form input {
  text-indent: 2rem;
  min-width: 400px;
}

.container-filter-fields .form i {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  padding: 0.5rem;
  color: grey;
  top: 35px;
}

.container-filter-fields input,
.container-filter-fields select {
  font-size: 1rem;
}

.container-multi-filter-fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
  width: 100%;
}

.container-multi-filter-fields .form {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.container-multi-filter-fields .form input {
  text-indent: 2rem;
  min-width: 400px;
}

.container-multi-filter-fields .form i {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  padding: 0.5rem;
  color: grey;
  top: 35px;
}

.container-multi-filter-fields input,
.container-multi-filter-fields select {
  font-size: 1rem;
}

.container-multi-filter-fields .button-create {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.container-dashboard .container-headline {
  margin-bottom: 4rem;
  font-weight: 500;
}

.container-dashboard button {
  float: right;
}

.container-products-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.container-products-grid .card-product {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container-products-grid .card-product p {
  margin: 0;
}

.container-products-grid .card-product .card-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container-products-grid .card-product .card-header a {
  justify-self: flex-end;
}

.container-products-grid .card-product .card-line-one {
  margin-bottom: 1rem;
}

.container-products-grid .card-product .card-line-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.container-products-grid .card-product .hidden {
  opacity: 0;
  overflow-y: hidden;
  max-height: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container-products-grid .card-product .card-line-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container-products-grid .card-product .card-line-three:nth-child(2) {
  justify-self: flex-end;
}

.container-products-grid .card-product .settings,
.container-products-grid .card-product .inventory,
.container-products-grid .card-product .price {
  justify-self: flex-end;
}

.container-products-grid .card-product .expand {
  opacity: 1;
  max-height: 1000px;
  margin-top: 1rem;
}

.container-pagination-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  margin: 2rem 0rem;
}

.container-pagination-grid button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0rem 0.5rem;
}

.container-pagination-grid .back i {
  position: relative;
  right: 8px;
}

.container-pagination-grid .next i {
  position: relative;
  left: 8px;
}

.container-product-info {
  margin: 2rem 0rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35), inset 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35), inset 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px -2px 2px rgba(0, 0, 0, 0.25);
}

.container-product-info .container-price-rules-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
}

.container-product-info .container-price-rules-grid p {
  position: relative;
}

.container-product-info .container-price-rules-grid p:nth-last-child(n + 4)::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: grey;
}

.container-product-info .container-inventory-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
}

.container-product-info .container-inventory-grid p {
  position: relative;
}

.container-product-info .container-inventory-grid p:nth-last-child(n + 4)::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: grey;
}

.container-product-info .container-specifications-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 5fr)[3];
      grid-template-columns: repeat(3, 1fr 5fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

.container-product-info .container-specifications-grid .value {
  justify-self: flex-start;
}
/*# sourceMappingURL=style.css.map */