<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://kit.fontawesome.com/934bc706b2.js"
      crossorigin="anonymous"
    ></script>
    <title>TestAppViews</title>
  </head>
  <body>
    <div class="landing-container">
      <section class="landing-img-container">
        <div class="overlay"></div>
        <img src="../src//whslanding.jpg" alt="" class="landing-img" />
        <div class="image-text">
          <h1 class="text-white text-large">Lorem Ipsum Dolor Sit Amet</h1>
          <p class="text-white text-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
            consequatur. Nobis mollitia culpa laborum quisquam.
          </p>
        </div>
      </section>
      <section class="landing-form-container">
        <i class="logo fas fa-warehouse fa-5x text-primary"></i>
        <h1 class="text-medium">Welcome</h1>
        <div class="button-container">
          <a class="btn btn-large btn-primary mx-4" href="login.html">
            Log In
          </a>
          <div class="my-1"></div>
          <a class="btn btn-large btn-light mx-4" href="register.html"
            >Sign Up</a
          >
        </div>
      </section>
    </div>
  </body>
</html>
