<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://kit.fontawesome.com/934bc706b2.js"
      crossorigin="anonymous"
    ></script>
    <title>TestAppViews</title>
  </head>
  <body>
    <div class="landing-container">
      <section class="landing-img-container">
        <div class="overlay"></div>
        <img src="../src//whslanding.jpg" alt="" class="landing-img" />
        <div class="image-text">
          <h1 class="text-white text-large">Lorem Ipsum Dolor Sit Amet</h1>
          <p class="text-white text-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
            consequatur. Nobis mollitia culpa laborum quisquam.
          </p>
        </div>
      </section>
      <section class="landing-form-container">
        <i class="logo fas fa-warehouse fa-5x text-primary"></i>
        <h1 class="text-medium">Register Your Account</h1>
        <form action="/api/users" method="POST" class="form mx-4">
          <div class="form form form-item">
            <input
              type="text"
              id="name"
              name="name"
              value=""
              placeholder="Name"
            />
          </div>
          <div class="form form-item">
            <input
              type="email"
              id="email"
              name="email"
              value=""
              placeholder="Email Address"
            />
          </div>
          <div class="form form-item">
            <input
              type="password"
              id="password"
              name="password"
              value=""
              placeholder="Password"
            />
          </div>
          <div class="form form-item">
            <input
              type="password"
              id="password2"
              name="password2"
              value=""
              placeholder="Confirm Password"
            />
          </div>
          <button type="submit" class="btn btn-large btn-primary mx-4">
            Sign Up
          </button>
        </form>
        <div class="button-container my-1">
          <div class="separator">or</div>
          <a class="btn btn-large btn-light mx-4"
            ><i class="fab fa-google mx-1"></i>Sign Up with Google</a
          >
        </div>
        <p>Already have an account? <a href="login.html">Sign in here.</a></p>
      </section>
    </div>
  </body>
</html>
